body {
	padding-top: 70px;
}

body.loading {
	cursor: wait;
}

#task-list h4 {
	display: inline;
	
}

#task-list p {
	display: inline;
	padding-left: 10px;
	color: #999;
	
}

#task-list .label {
	margin-top: 3px;
}

#task-list .list-group-item {
	cursor: pointer;
	
}

#task-detail .panel-body {
	padding-bottom: 0;
}

#task-detail h3 {
	margin-top: 0;
}

#task-detail .close {
	margin-top: -5px;
}