body {
	padding-top: 70px;
}

body.loading {
	cursor: wait;
}

#task-list h4 {
	display: inline;
}

#task-list p {
	display: inline;
	padding-left: 10px;
	color: #999;
}

#task-list .label {
	margin-top: 3px;
}

#task-list .list-group-item {
	cursor: pointer;
}

#task-detail .panel-heading {
	padding: 0;
}

#task-detail .panel-heading a {
	color: #4d4d4d;
}

#task-detail .panel-heading a:hover {
	color: #999;
}

#task-detail h3 {
	margin-top: 0;
}

#task-detail .close {
	margin-top: -5px;
	margin-left: 10px;
}

#task-detail .well {
	margin-bottom: 15px;
}

#task-detail dl {
	margin-bottom: 0;
}

#task-detail .progress {
	margin: 0;
}

.noselect {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
